<div class="container">
  <h1>Welcome to My AWESOME tweet fight!</h1>
  <p>Hello, world!</p>

  <p>Looking for a user? </p>
 <form action="/show" method= "post">
 <input type="text" name="username" placeholder="username">
 <br>
 <input type="submit" value="Search">
 </form>

</div>